body
{
    margin: 0;
    padding: 0;
}

h1
{
    margin: 0;
    padding: 20px;
    background-color: lightskyblue;
    color: white;
}

form
{
    border: 1px solid lightskyblue;
    width: 500px;
    margin: 20px auto;
    padding: 20px;

}

input[type=text]
{
    width: 100%;
    padding: 5px;
}

input[type=button]
{
    padding: 10px;
}

.conteudo
{
    border: 1px solid lightblue;
    margin: 20px auto;
    width: 500px;
    padding: 10px;
    border-radius: 10px;
    box-shadow:  0 10px 10px lightslategray;
    font-size: 20px;
}